* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 30px;
}

.card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


.info {
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info_item {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.search-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.search-input {
    flex: 1;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-form button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}


.load-more {
    margin: 30px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
}

.load-more:hover {
    background-color: #0056b3;
}

.is-hidden {
    display: none;
}